h1 {
    text-align: center;
}
.starterDoc {
    text-align: center;
    font-size: 45px;
    text-shadow: 4px 4px 4px gold;
    color: darkslateblue;
    position: relative;
    top: 60px;
    font-family: "Avengeance Heroic Avenger";
}
body {
    background-image: url("../images/pokeballLayout.jpg");
    font-family: "Bebas Neue";
    font-size: 20px;
}
.mainbox {
    height: 400px;
    background: white;
    position: relative;
    top: 40px;
    background-image: url("../images/starterLayout.png");
    background-repeat: no-repeat;
    background-size: 1110px 750px;
    background-position: 50% 100%;
}
#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 100px;
}
img {
    width: 200px;
    height: 250px;
}
#player2 img {
    height: 260px;
    width: 190px;
}
#player2 {
    position: relative;
    top: 20px;
    left: 400px;
    display: none;
}
#player1 {
    position: relative;
    top: 30px;
    right: 400px;
    display: none;
}
.characterSelection {
    display: inline-block;
    text-align: center;
}
.characterSelection a {
    text-decoration: none;
    color:darkslateblue;
}
.characterSelection a:hover {
    color: gold;
}